{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base",
  "globals": {
    "browser": true
  },
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "global-require": "off",
    "indent": [
      "error",
      4
    ],
    "no-mixed-operators": "off",
    "no-new": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-return-assign": ["error", "except-parens"],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "func-names": [
      "error",
      "as-needed"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-prototype-builtins": "off",
    "space-before-function-paren": ["error", "never"],
    "class-methods-use-this": "off",
    "guard-for-in": "off",
    "no-console": "error",
    "no-await-in-loop": "off",
    "no-restricted-globals": "off",
    "array-callback-return": "off",
    "no-return-await": "off"
  }
}
